ch8_slambook1/.vscode/
ch8_slambook1/directMethod/build/
ch8_slambook1/LKFlow/build/
ch8_slambook1/data/

ch8_slambook2/.vscode/
ch8_slambook2/build/

RScamera_book1/.vscode/
RScamera_book1/build/

RScamera_book2/.vscode/
RScamera_book2/build/

separate_book1/.vscode/
separate_book1/build/

separate_book1_wrt_First/.vscode/
separate_book1_wrt_First/build/
separate_book1_wrt_First_IR_dots/.vscode/
separate_book1_wrt_First_IR_dots/build/

separate_book1_wrt_Last/.vscode/
separate_book1_wrt_Last/build/
separate_book1_wrt_Last_IR_dots/.vscode/
separate_book1_wrt_Last_IR_dots/build/

separate_book2/.vscode/
separate_book2/build/

.vscode/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*cmake-build-*
*.idea
**build**
**.vscode**
